<footer class="footer-area footer--light" style="margin-top: 5.5rem;">
    <div class="footer-big">
      <div class="container">
        <div class="row">

          <div class="col-md-3 col-sm-12">
            <div class="footer-widget">
              <div class="widget-about">
                <h4 class="footer-widget-title">WF Design + Build © 2023</h4>
                <p>4432 Wilson Rd.
                    Chilliwack, BC V2R 5C5</p>
                <a href="#">Privacy Policy</a>
              </div>
            </div>
          </div>

          <div class="col-md-3 col-sm-4">
            <div class="footer-widget">
              <div class="footer-menu footer-menu--1">
                <h4 class="footer-widget-title">Join Our Team</h4>
                <p>We're always open to discussing collaboration opportunities with other professional trades. Go ahead and introduce yourself.</p>
                <a href="/contact">Say hello</a>
            </div>
            </div>
          </div>
  
          <div class="col-md-3 col-sm-4">
            <div class="footer-widget">
              <div class="footer-menu">
                <h4 class="footer-widget-title">Get Social</h4>
                <ul>
                  <li>
                    <a href="https://facebook.com" target="_blank">Facebook</a>
                  </li>
                  <li>
                    <a href="https://instagram.com" target="_blank">Instagram</a>
                  </li>
                  <li>
                    <a href="https://linkdln.com" target="_blank">Linkedln</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
  
          <div class="col-md-3 col-sm-4">
            <div class="footer-widget">
              <div class="footer-menu no-padding">
                <h4 class="footer-widget-title">Contact Us</h4>
                <ul>
                  <li>
                    <a href="#">Send an email</a>
                  </li>
                  <li>
                    <a href="#">874-235-7491</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
  
        </div>
      </div>
    </div>
  
  </footer>
