<!-- Banner -->
<section class="banner is-dark has-background-dark" style="background-image: url('https://wfdesignbuild.com/img/wood-pattern.svg');">
    <div class="container main-banner is-desktop">
        <div class="banner-title">
            <h1>Building is in our DNA</h1>
        </div>
        <div class="banner-desc">
            <h2>For more than twenty years we've been working in the home renovation space. It's not just what we do — it's who we are.</h2>
        </div>
    </div>
</section>

<!-- Stats -->
<section class="stats">
    <div class="container2">
        <div class="stats-content">
            <div class="stats-info">
                <p class="title2">2005</p>
                <p class="title-desc">year founded</p>
            </div>
            <div class="stats-info">
                <p class="title2">300+</p>
                <p class="title-desc">completed projects</p>
            </div>
            <div class="stats-info">
                <p class="title2">98.7%</p>
                <p class="title-desc">client satisfaction</p>
            </div>
            <div class="stats-info">
                <p class="title2">75K+</p>
                <p class="title-desc">screws used</p>
            </div>
        </div>
    </div>
</section>

<!-- Our Promise -->
<section class="promise">
    <div class="container">
        <div class="promise-content">
            <div class="promise-image">
                <img width="500" src="https://wfdesignbuild.com/img/wf_warren.png" alt="person image">
            </div>
            <div class="promise-info">
                <div class="promise-info-title">
                    <h2>Our promise</h2>
                </div>
                <div class="promise-info-subtitle">
                    <p>We believe in people over profit and strive to operate our business with integrity and trust. From clients to staff, our strongest assets and greatest resources are the relationships we build.</p>
                </div>
                <div class="promise-info-description">
                    <p>When you choose to work with us, you're not just choosing a general contractor. You're choosing residential design + build experts who care.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Vision Clarity Results -->
<section class="vcr">
    <div class="container2">
  
  
        <div class="title">
          <div class="third">
            <h1 style="text-align: center;">
                Core Values
            </h1>
          </div>
          <div class="secondary">
              <p style="text-align: center;">We are a mission-driven company committed to transparency, accountability, sustainability and positive impact. It’s not just good business – it’s the only way we want to do business.</p>
          </div>
        </div>
  
        <div class="row" style="padding-top: 4rem;">
          <div class="col-md-4 d-flex align-items-stretch">
            <div class="card2">
              <img src="https://wfdesignbuild.com/img/values-right.png" class="card-img-top" alt="Image 1">
              <div class="card-body">
                <h5 class="card-title">We do it right</h5>
                <p class="card-text">There's never a stressful amount of pressure to meet unreasonable expectations. We project-manage towards specific quality goals to ensure the best possible result.</p>
              </div>
            </div>
          </div>
          <div class="col-md-4 d-flex align-items-stretch">
            <div class="card2">
              <img src="https://wfdesignbuild.com/img/values-together.png" class="card-img-top" alt="Image 2">
              <div class="card-body">
                <h5 class="card-title">We do it together</h5>
                <p class="card-text">Collaboration and open lines of communication is an important part of our process. We choose to work with responsible homeowners and trades people we can trust.</p>
              </div>
            </div>
          </div>
          <div class="col-md-4 d-flex align-items-stretch">
            <div class="card2">
              <img src="https://wfdesignbuild.com/img/values-purpose.png" class="card-img-top" alt="Image 3">
              <div class="card-body">
                <h5 class="card-title">We do it with purpose</h5>
                <p class="card-text">Building close relationships with our clients and turning dreams into reality is a privilege. It's the reason we do what we do and why we enjoy it so much.</p>
              </div>
            </div>
          </div>
        </div>
     
    </div>
  </section>

<!-- Magic Middle -->
<section class="promise move-down">
    <div class="container2">
        <div class="promise-content2">
            <div class="promise-image">
                <img width="600" src="https://wfdesignbuild.com/img/wfdb_magic_middle.svg" alt="person image">
            </div>
            <div class="promise-info">
                <div class="promise-info-title">
                    <h2>The magic middle</h2>
                </div>
                <div class="promise-info-subtitle">
                    <p>In our industry, business is often won or lost on your reputation. That's why we're upstanding citizens, hard workers, and thoughtful people.</p>
                </div>
                <div class="promise-info-description">
                    <p>We believe in a client-first approach, and take great care to ensure the homeowners we work with have an exceptional experience.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Review -->
<section class="review">
    <div class="container2">
      <div class="testimonial-block">
        
        <div class="is-block">
          <svg width="35" height="35" class="svg-inline--fa fa-quote-left fa-w-16 fa-lg" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="quote-left" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 412">
            <path fill="currentColor" d="M464 256h-80v-64c0-35.3 28.7-64 64-64h8c13.3 0 24-10.7 24-24V56c0-13.3-10.7-24-24-24h-8c-88.4 0-160 71.6-160 160v240c0 26.5 21.5 48 48 48h128c26.5 0 48-21.5 48-48V304c0-26.5-21.5-48-48-48zm-288 0H96v-64c0-35.3 28.7-64 64-64h8c13.3 0 24-10.7 24-24V56c0-13.3-10.7-24-24-24h-8C71.6 32 0 103.6 0 192v240c0 26.5 21.5 48 48 48h128c26.5 0 48-21.5 48-48V304c0-26.5-21.5-48-48-48z"></path>
          </svg>
        </div>
        
        <div class="comment">
          <p>
            Warren and his team always went the extra mile and were great to work with. We made the right decision working with them, and we'll definitely do it again.
          </p>
        </div>
  
        <div class="r-author">
          <div class="author-img">
            <img class="is-rounded" width="100" src="https://wfdesignbuild.com/img/avatars/matt-farley.png" alt="review-author">
          </div>
          <div class="author-info">
            <p class="author-name">Mat Stevenson</p>
            <p class="author-location">New York, NY</p>
          </div>
        </div>
  
      </div>
    </div>
</section>

  <!-- Last Hero -->
<section class="hero">
    <div class="container ls-t">
      
      <div class="hero-image">
        <img src="https://wfdesignbuild.com/img/wfdb_prefooter.png" width="320" alt="hero image">
      </div>
      <div class="hero-info">
        <div class="hero-title">
          <p>If you're eager to start a new home renovation project, we're experienced, established, and ready to get to work.</p>
        </div>
        <div class="hero-desc">
          <p>Since 2005, we've helped hundreds of Fraser Valley homeowners like you create better living spaces with forward-thinking design, experience-driven insight, and expert level craftsmanship.</p>
        </div>
        <div class="see-our-work hero-link">
          <a href="/contact">
            <span>
              Let's Work Together
              <i class='bx bx-right-arrow-alt text'></i>
            </span>
          </a>
        </div>
      </div>
  
    </div>
</section>