<!-- Hero -->
7<section class="hero">
    <div class="container">

        <div class="title">
            <div class="principal">
                <h1>
                    Functionally beautiful home renovations
                    <span class="has-text-primary">+</span>
                    additions.
                </h1>
            </div>
            <div class="secondary">
                <p>Expertly crafted with meticulous care and attention to detail.</p>
            </div>
        </div>

    </div>
</section>

<!-- Projects Section -->
<section class="projects">
    <div class="container">
        <div class="row">
          <div class="col-lg-4 col-md-6 col-sm-12">
            <!-- Picture 1 -->
            <a href="/work">
              <figure (mouseover)="showCaption = true" (mouseleave)="showCaption = false">
                <img class="w-100" src="assets/Images/pexels-alex-qian-2343466.jpg" alt="1">
                <figcaption [ngClass]="{'visible': showCaption || isMobile}">
                  <div class="title-wrapper">
                      <h1>Two-story Transformation</h1>
                  </div>
                  <div class="arrow-wrapper">
                      <i class='bx bx-right-arrow-alt text'></i>
                  </div>
                </figcaption>
              </figure>
            </a>  
          </div>
          <div class="col-lg-4 col-md-6 col-sm-12">
            <!-- Picture 2 -->
            <a href="/work">
              <figure (mouseover)="showCaption2 = true" (mouseleave)="showCaption2 = false">
                <img class="w-100" src="assets/Images/pexels-pixabay-280232.jpg" alt="2">
                <figcaption [ngClass]="{'visible': showCaption2 || isMobile}">
                  <div class="title-wrapper">
                      <h1>From Classic to Contemporary</h1>
                  </div>
                  <div class="arrow-wrapper">
                      <i class='bx bx-right-arrow-alt text'></i>
                  </div>
                </figcaption>
              </figure>
            </a>  
          </div>
          <div class="col-lg-4 col-md-6 col-sm-12">
            <!-- Picture 3 -->
            <a href="/work">
              <figure (mouseover)="showCaption3 = true" (mouseleave)="showCaption3 = false">
                <img class="w-100" src="assets/Images/pexels-jason-boyd-3209045.jpg" alt="3">
                <figcaption [ngClass]="{'visible': showCaption3 || isMobile}">
                  <div class="title-wrapper">
                      <h1>Two Main Floor Makeover</h1>
                  </div>
                  <div class="arrow-wrapper">
                      <i class='bx bx-right-arrow-alt text'></i>
                  </div>
                </figcaption>
              </figure>
            </a>  
          </div>
          <div class="col-lg-4 col-md-6 col-sm-12">
            <!-- Picture 4 -->
            <a href="/work">
              <figure (mouseover)="showCaption4 = true" (mouseleave)="showCaption4 = false">
                <img class="w-100" src="assets/Images/pexels-mark-2724748.jpg" alt="4">
                <figcaption [ngClass]="{'visible': showCaption4 || isMobile}">
                  <div class="title-wrapper">
                      <h1>Tasteful Kitchen Transformation</h1>
                  </div>
                  <div class="arrow-wrapper">
                      <i class='bx bx-right-arrow-alt text'></i>
                  </div>
                </figcaption>
              </figure>
            </a>  
          </div>
          <div class="col-lg-4 col-md-6 col-sm-12">
            <!-- Picture 5 -->
            <a href="/work">
              <figure (mouseover)="showCaption5 = true" (mouseleave)="showCaption5 = false">
                <img class="w-100" src="assets/Images/pexels-pixabay-259580.jpg" alt="5">
                <figcaption [ngClass]="{'visible': showCaption5 || isMobile}">
                  <div class="title-wrapper">
                      <h1>Full-scale Main Floor Renovation</h1>
                  </div>
                  <div class="arrow-wrapper">
                      <i class='bx bx-right-arrow-alt text'></i>
                  </div>
                </figcaption>
              </figure>
            </a>  
          </div>
          <div class="col-lg-4 col-md-6 col-sm-12">
            <!-- Picture 6 -->
            <a href="/work">
              <figure (mouseover)="showCaption6 = true" (mouseleave)="showCaption6 = false">
                <img class="w-100" src="assets/Images/pexels-vecislavas-popa-1571468.jpg" alt="6">
                <figcaption [ngClass]="{'visible': showCaption6 || isMobile}">
                  <div class="title-wrapper">
                      <h1>Repurposed Room Reform</h1>
                  </div>
                  <div class="arrow-wrapper">
                      <i class='bx bx-right-arrow-alt text'></i>
                  </div>
                </figcaption>
              </figure>
            </a>  
          </div>
          <div class="col-lg-4 col-md-6 col-sm-12">
            <!-- Picture 7 -->
            <a href="/work">
              <figure (mouseover)="showCaption7 = true" (mouseleave)="showCaption7 = false">
                <img class="w-100" src="assets/Images/testingPic2.jpg" alt="7">
                <figcaption [ngClass]="{'visible': showCaption7 || isMobile}">
                  <div class="title-wrapper">
                      <h1>Upper Level Creation</h1>
                  </div>
                  <div class="arrow-wrapper">
                      <i class='bx bx-right-arrow-alt text'></i>
                  </div>
                </figcaption>
              </figure>
            </a>  
          </div>
          <div class="col-lg-4 col-md-6 col-sm-12">
            <!-- Picture 8 -->
            <a href="/work">
              <figure (mouseover)="showCaption8 = true" (mouseleave)="showCaption8 = false">
                <img class="w-100" src="assets/Images/pexels-pixabay-534151.jpg" alt="8">
                <figcaption [ngClass]="{'visible': showCaption8 || isMobile}">
                  <div class="title-wrapper">
                      <h1>Facelift for a Tired Kitchen</h1>
                  </div>
                  <div class="arrow-wrapper">
                      <i class='bx bx-right-arrow-alt text'></i>
                  </div>
                </figcaption>
              </figure>
            </a>  
          </div>
          <div class="col-lg-4 col-md-6 col-sm-12">
            <!-- Picture 9 -->
            <a href="/work">
              <figure (mouseover)="showCaption9 = true" (mouseleave)="showCaption9 = false">
                <img class="w-100" src="assets/Images/testingPic.jpg" alt="9">
                <figcaption [ngClass]="{'visible': showCaption9 || isMobile}">
                  <div class="title-wrapper">
                      <h1>Modernized Makeover</h1>
                  </div>
                  <div class="arrow-wrapper">
                      <i class='bx bx-right-arrow-alt text'></i>
                  </div>
                </figcaption>
              </figure>
            </a>  
          </div>
        </div>
      </div>
</section>

<section class="hero">
  <div class="container ls-t">
    
    <div class="hero-image">
      <img src="https://wfdesignbuild.com/img/wfdb_prefooter.png" width="320" alt="hero image">
    </div>
    <div class="hero-info">
      <div class="hero-title">
        <p>If you're eager to start a new home renovation project, we're experienced, established, and ready to get to work.</p>
      </div>
      <div class="hero-desc">
        <p>Since 2005, we've helped hundreds of Fraser Valley homeowners like you create better living spaces with forward-thinking design, experience-driven insight, and expert level craftsmanship.</p>
      </div>
      <div class="see-our-work hero-link">
        <a href="/contact">
          <span>
            Let's work together
            <i class='bx bx-right-arrow-alt text'></i>
          </span>
        </a>
      </div>
    </div>

  </div>
</section>
